.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--background);
}

.container {
  width: 100%;
  min-height: calc(100vh - var(--footer-height) - var(--safe-area-bottom));
}
